BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

IndentCaseLabels: true
ReflowComments: false

AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true

BinPackArguments: true
BinPackParameters: true

ColumnLimit: 0

